<div class="input-group my-3">
  <span class="input-group-text" id="inputGroup-sizing-default">Find API bro!!!</span>
  <input type="text" class="form-control" [(ngModel)]="findByName" name="name">
  <button type="submit" class="btn btn-dark" (click)="filter()">Submit</button>
</div>

<div *ngIf="errorMessage$ | async as errorMessage" class="alert alert-danger">
  {{errorMessage}}
</div>

<div class="d-flex align-items-center justify-content-center" *ngIf="!(loaded$ | async)">
  <div class="spinner-grow m-3" style="width: 5rem; height: 5rem;" role="status">
  </div>
  <strong>Loading...</strong>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Server</th>
      <th scope="col">URL</th>
      <th scope="col">Availability</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let server of actualServers$ | async">
      <td>{{server.name}}</td>
      <td *ngIf="server.server; else test_server">
        Production
      </td>
      <ng-template #test_server>
        <td>
          Test
        </td>
      </ng-template>
      <td>{{server.url}}</td>
      <td *ngIf="server.availability; else unavailable">
        <bi name="check2-circle" class="icon check"></bi>
      </td>
      <ng-template #unavailable>
        <td>
          <bi name="X-circle" class="icon fail"></bi>
        </td>
      </ng-template>
    </tr>
  </tbody>
</table>

<a class="btn btn-primary" [routerLink]="['/domains']">Come back bro!</a>